footer {
  position: fixed;
  bottom: 0;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

tr>td {
  padding-bottom: 25px;
}

p {
  text-align: center;
}

.custom-btn {
  width: max-content;
  height: max-content;
  margin-left: 25px;
  margin-right: 25px;
  background-color: azure;
}

.custom-btn:hover {
  background-color: aliceblue;
}

.custom-btn:active {
  background-color: lightcyan;
}

.item-container {
  text-align: left;
  width: 20%;
  height: 20%;
  border: 2px solid black;
  float: left;
  margin: 30px;
}

.form-btn {
  text-align: right;
}

.form-body {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 2px solid black;
}

.delete-checkbox {
  text-align: left;
}

.center-input {
  text-align: center;
}

#DVD {
  visibility: hidden;
}

#FurnitureH {
  visibility: hidden;
}

#FurnitureW {
  visibility: hidden;
}

#FurnitureL {
  visibility: hidden;
}

#Book {
  visibility: hidden;
}

#root {
  width: 90%;
  margin: 0 auto;
}
